.cart{

}
.cart h5{
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
}
.cart h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cart p{
    line-height: 5px;
    font-size: 14px;
}
.cart p span{
    font-weight: 500;
    float: right;
}
.cart .cart-cal{
    width: 70%;
}

.order-review{
    background-color: gold;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 20px;
    font-size: 15px;
    width: 80%;
}